RewriteEngine On

# Redireciona tudo que não seja um arquivo ou diretório para o index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?code=$1 [QSA,L]
