/* Reseta as margens e o preenchimento de todos os elementos */
* {
    margin: 0; /* Remove margens */
    padding: 0; /* Remove preenchimentos */
    box-sizing: border-box; /* Inclui o preenchimento e borda dentro do tamanho do elemento */
}

/* Estiliza o corpo da página */
body {
    background-image: url('../../assets/images/background-index-3.jpg'); /* Define a imagem de fundo */
    background-size: cover; /* Faz a imagem cobrir toda a área visível */
    background-position: center; /* Centraliza a imagem de fundo */
    background-attachment: fixed; /* Fixação da imagem enquanto a página rola */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    display: flex; /* Define a exibição como flexbox */
    justify-content: center; /* Alinha os itens no centro horizontal */
    align-items: center; /* Alinha os itens no centro vertical */
    min-height: 40vh; /* Define a altura mínima como 40% da altura da viewport */
    overflow-x: hidden; /* Impede rolagem horizontal */

    &::before {
        content: ""; /* Cria um pseudo-elemento vazio */
        position: fixed; /* Posiciona de forma fixa */
        top: 0; /* Alinha ao topo */
        left: 0; /* Alinha à esquerda */
        width: 100%; /* Define a largura para 100% da tela */
        height: 100%; /* Define a altura para 100% da tela */
        background: rgba(0, 0, 0, 0.1); /* Aplica um fundo semitransparente */
        z-index: -1; /* Coloca o pseudo-elemento atrás do conteúdo */
        filter: contrast(1.1) brightness(1.1) saturate(1.1); /* Ajusta o contraste, brilho e saturação */
    }
}

/* Estiliza o contêiner principal */
.container {
    width: 100%; /* Largura total */
    max-width: 1200px; /* Largura máxima */
    padding: 1rem; /* Preenchimento de 1rem */
    display: flex; /* Exibe como flexbox */
    flex-direction: column; /* Organiza os itens em coluna */
    align-items: flex-start; /* Alinha os itens à esquerda */
    text-align: left; /* Define o alinhamento do texto para a esquerda */

    #logo-page {
        color: #ffffff; /* Cor do texto para branco */
        font-size: 3.5rem; /* Tamanho da fonte */
        font-family: "Reddit Sans Condensed", sans-serif; /* Família da fonte */
        font-weight: bold; /* Peso da fonte em negrito */
        text-align: left; /* Alinha o texto à esquerda */
        cursor: pointer; /* Adiciona cursor de ponteiro */
        margin-bottom: 0.5rem; /* Margem inferior de 0.5rem */
        text-shadow: 0 5px 8px rgba(0, 0, 0, 0.3); /* Sombra do texto */
    }

    #sub-logo-page {
        font-size: 1.2rem; /* Tamanho da fonte */
        font-weight: 400; /* Peso da fonte normal */
        color: #ffffff; /* Cor do texto branco */
        text-align: left; /* Alinha o texto à esquerda */
        cursor: pointer; /* Cursor de ponteiro */
        padding-bottom: 0.5rem; /* Preenchimento inferior de 0.5rem */
        border-bottom: 2px solid #ffffff; /* Borda inferior */
        text-shadow: 0 5px 8px rgba(0, 0, 0, 0.3); /* Sombra do texto */
        margin-bottom: 2rem; /* Margem inferior de 2rem */
        white-space: nowrap; /* Impede quebra de linha */
    }

    h3 {
        font-family: "Reddit Sans Condensed", sans-serif; /* Família da fonte */
        font-weight: 450; /* Peso da fonte */
        font-size: 1.5rem; /* Tamanho da fonte */
        color: #730099; /* Cor do texto roxo */
        text-align: center; /* Alinha o texto ao centro */
        text-shadow: 0 5px 8px rgba(0, 0, 0, 0.3); /* Sombra do texto */
    }

    /* Estiliza o portfólio como uma grid */
    .box-portifolio {
        display: grid; /* Usa grid para exibir os itens */
        grid-template-columns: repeat(4, 1fr); /* Cria 4 colunas */
        gap: 0.3rem; /* Espaço entre os itens */
        width: 100%; /* Largura total */
        padding: 0; /* Preenchimento de 0 */
        text-align: center; /* Alinha o texto no centro */
        border-radius: 10px; /* Arredonda as bordas */
        background: transparent; /* Fundo transparente */
        backdrop-filter: blur(1px) saturate(100%); /* Efeito de desfoque e saturação */
        justify-items: center; /* Alinha os itens ao centro */
    }

    /* Estiliza o botão do portfólio */
    .btn-box-portifolio {
        background-color: #e0e0eb; /* Cor de fundo do botão */
        color: #47476b; /* Cor do texto */
        outline: none; /* Remove o contorno */
        padding: 1rem; /* Preenchimento do botão */
        font-family: "Reddit Sans Condensed", sans-serif; /* Família da fonte */
        font-weight: 500; /* Peso da fonte */
        font-size: 1rem; /* Tamanho da fonte */
        border-radius: 5px; /* Borda arredondada */
        box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3); /* Sombra do botão */
        transition: background-color 0.7s ease, color 0.7s ease, transform 0.7s ease; /* Efeito de transição */
        width: 80%; /* Largura do botão */
        margin: 0.5rem auto; /* Margem automática */
    }

    /* Estiliza o botão quando passa o mouse por cima */
    .btn-box-portifolio:hover {
        background-color: #ffcccc; /* Cor de fundo ao passar o mouse */
        cursor: pointer; /* Cursor de ponteiro */
        color: #ff0066; /* Cor do texto ao passar o mouse */
        transform: scale(1.05); /* Aumenta o tamanho do botão */
    }

    /* Estilos para o modal */
    .modal {
        display: none; /* Inicialmente o modal está oculto */
        position: fixed; /* Fixa o modal na tela */
        z-index: 1; /* Define a ordem de empilhamento */
        left: 0; /* Alinha à esquerda */
        top: 0; /* Alinha ao topo */
        width: 100vw; /* Largura total da viewport */
        height: 100vh; /* Altura total da viewport */
        overflow: auto; /* Permite rolar o conteúdo */
        background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
    }

    /* Estilo do conteúdo do modal */
    .modal-content {
        background-color: #fefefe; /* Cor de fundo do conteúdo */
        margin: 10% auto; /* Margem automática e afastada do topo */
        padding: 20px; /* Preenchimento */
        border: 1px solid #888; /* Borda */
        width: 100%; /* Largura total */
        max-width: 600px; /* Largura máxima */
    }

    /* Estilo para o botão de fechar do modal */
    .close {
        color: #730099; /* Cor do texto */
        float: right; /* Alinha à direita */
        font-size: 20px; /* Tamanho da fonte */
        font-weight: bold; /* Fonte em negrito */
        cursor: pointer; /* Cursor de ponteiro */
    }

    h4 {
        color: #47476b; /* Cor do texto */
        font-family: "Reddit Sans Condensed", sans-serif; /* Família da fonte */
        font-weight: 450; /* Peso da fonte */
        font-size: 1.5rem; /* Tamanho da fonte */
        text-align: center; /* Alinha ao centro */
        padding-bottom: 1rem; /* Preenchimento inferior */
    }

    h5 {
        color: #3d3d5c; /* Cor do texto */
        font-family: "Reddit Sans Condensed", sans-serif; /* Família da fonte */
        font-weight: 450; /* Peso da fonte */
        padding-top: 1rem; /* Preenchimento superior */
        padding-bottom: 0.5rem; /* Preenchimento inferior */
        border-bottom: 2px solid #ff0066; /* Borda inferior */
    }

    p {
        color: #3d3d5c; /* Cor do texto */
        font-family: "Reddit Sans Condensed", sans-serif; /* Família da fonte */
        font-weight: 450; /* Peso da fonte */
        font-size: 1.1rem; /* Tamanho da fonte */
        text-align: justify; /* Alinha o texto de forma justificada */
    }

    ul {
        list-style-type: none; /* Remove os marcadores de lista */
        padding: 0; /* Remove o preenchimento padrão da lista */
        margin: 0; /* Remove a margem padrão da lista */
        display: flex; /* Aplica um layout flexível para os itens da lista */
        justify-content: left; /* Alinha os itens da lista à esquerda */
    }

    li {
        color: #3d3d5c; /* Define a cor do texto dos itens */
        font-family: "Reddit Sans Condensed", sans-serif; /* Define a fonte para os itens da lista */
        font-weight: 500; /* Define o peso da fonte (normal) */
        font-size: 1rem; /* Define o tamanho da fonte */
        border-bottom: 2px solid #ff0066; /* Adiciona uma borda na parte inferior dos itens */
        margin: 0 5px; /* Adiciona espaçamento horizontal entre os itens */
    }

    video {
        width: 100%; /* Faz com que o vídeo ocupe toda a largura disponível */
        max-width: 80%; /* Limita a largura máxima do vídeo a 80% */
        height: auto; /* Ajusta a altura automaticamente para manter a proporção */
        display: block; /* Faz com que o vídeo seja exibido como um bloco */
        margin: -0.4rem auto; /* Adiciona uma margem negativa no topo e um auto para centralizar */
    }
}

/* Responsividade reorganizada - Quando a tela tiver 1200px ou mais */
@media (min-width: 1200px) {
    .box-portifolio {
        width: 100%; /* A largura será 100% */
        max-width: 1200px; /* Limita a largura máxima a 1200px */
    }

    .btn-box-portifolio {
        width: 100%; /* Define a largura dos botões como 100% */
    }

    #logo-page {
        font-size: 3.5rem; /* Aumenta o tamanho da fonte do logo */
    }

    #sub-logo-page {
        font-size: 1.2rem; /* Ajusta o tamanho da fonte do subtítulo */
    }

    .row {
        gap: 2rem; /* Define um espaçamento de 2rem entre os itens da linha */
    }

    #box-info-page {
        flex: 1 1 20%; /* Define que a caixa de informações ocupe 20% do espaço disponível */
    }
}

/* Responsividade - Para telas entre 992px e 1199px */
@media (max-width: 1199px) and (min-width: 992px) {
    .box-portifolio {
        gap: 1.5rem; /* Ajusta o espaçamento entre os itens */
        padding: 1.5rem; /* Adiciona um preenchimento de 1.5rem ao redor da caixa */
        grid-template-columns: repeat(3, 1fr); /* Exibe três colunas de tamanho igual */
    }

    .btn-box-portifolio {
        width: 90%; /* Ajusta a largura do botão para 90% */
    }

    #logo-page {
        font-size: 3rem; /* Reduz o tamanho da fonte do logo */
    }

    #sub-logo-page {
        font-size: 1rem; /* Ajusta o tamanho do subtítulo */
    }

    .row {
        gap: 1.5rem; /* Ajusta o espaçamento entre os itens da linha */
    }

    #box-info-page {
        flex: 1 1 45%; /* Ajusta o espaço da caixa de informações para 45% */
        max-width: 45%; /* Limita a largura máxima da caixa de informações a 45% */
    }
}

/* Responsividade - Para telas entre 768px e 991px */
@media (max-width: 991px) and (min-width: 768px) {
    .container {
        align-items: center; /* Alinha os itens ao centro dentro do container */
    }

    #logo-page, #sub-logo-page {
        font-size: 2.5rem; /* Ajusta o tamanho da fonte para 2.5rem */
        text-align: center; /* Centraliza o texto */
    }

    .row {
        flex-direction: column; /* Exibe os itens da linha em coluna */
        gap: 1rem; /* Ajusta o espaçamento entre os itens */
    }

    #box-info-page {
        flex: 1 1 100%; /* A caixa de informações ocupa 100% do espaço disponível */
        max-width: 100%; /* Limita a largura máxima a 100% */
    }
}

/* Responsividade - Para telas menores que 768px */
@media (max-width: 767px) {
    .container {
        padding: 1.5rem; /* Adiciona um preenchimento ao redor do container */
        align-items: center; /* Alinha os itens ao centro dentro do container */
    }

    #logo-page {
        font-size: 2rem; /* Reduz o tamanho da fonte do logo */
        text-align: center; /* Centraliza o texto */
    }

    #sub-logo-page {
        font-size: 0.9rem; /* Ajusta o tamanho da fonte do subtítulo */
        text-align: center; /* Centraliza o subtítulo */
    }

    .row {
        flex-direction: column; /* Exibe os itens da linha em coluna */
        gap: 1rem; /* Ajusta o espaçamento entre os itens */
    }

    #box-info-page {
        flex: 1 1 90%; /* A caixa de informações ocupa 90% do espaço disponível */
        max-width: 100%; /* Limita a largura máxima a 100% */
    }

    video {
        width: 50%; /* Ajusta a largura do vídeo para 50% */
        padding-top: 0.5rem; /* Adiciona um preenchimento superior de 0.5rem ao vídeo */
    }
}

/* Responsividade - Para telas menores que 575px */
@media (max-width: 575px) {
    .container {
        padding: 1rem; /* Adiciona um preenchimento ao redor do container */
        align-items: center; /* Alinha os itens ao centro dentro do container */
    }

    #logo-page {
        font-size: 1.8rem; /* Reduz o tamanho da fonte do logo */
        text-align: center; /* Centraliza o texto */
    }

    #sub-logo-page {
        font-size: 0.9rem; /* Ajusta o tamanho da fonte do subtítulo */
        text-align: center; /* Centraliza o subtítulo */
    }
}

/* Responsividade - Para telas menores que 359px */
@media (max-width: 359px) {
    .container {
        padding: 0.8rem; /* Adiciona um preenchimento ao redor do container */
        align-items: center; /* Alinha os itens ao centro dentro do container */
    }

    #logo-page {
        font-size: 1.5rem; /* Ajusta o tamanho da fonte do logo para telas menores */
        text-align: center; /* Centraliza o texto */
    }

    #sub-logo-page {
        font-size: 0.7rem; /* Ajusta o tamanho da fonte do subtítulo */
        text-align: center; /* Centraliza o subtítulo */
    }
}
