/* Estilos globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para o body */
body {
    background-image: url('../../assets/images/background-index-3.jpg'); /* Imagem de fundo */
    background-size: cover; /* Cobertura da imagem de fundo */
    background-position: center; /* Centraliza a imagem de fundo */
    background-attachment: fixed; /* Imagem de fundo fixa durante o rolar */
    background-repeat: no-repeat; /* Impede repetição da imagem de fundo */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Garantir que a altura mínima da tela ocupe 100% da altura da janela */
    overflow-x: hidden; /* Impede a rolagem horizontal */

    /* Filtro de sobrecarga no background para aumentar contraste e saturação */
    &::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.1); /* Cor de sobrecarga */
        z-index: -1; /* Coloca o pseudo-elemento atrás do conteúdo */
        filter: contrast(1.1) brightness(1.1) saturate(1.1); /* Aumenta contraste, brilho e saturação */
    }
}

/* Container centralizado */
.container {
    width: 90%;
    max-width: 800px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;

    /* Estilo do logo */
    #logo-page {
        color: #ffffff;
        font-size: 3.5rem;
        font-family: "Reddit Sans Condensed", sans-serif;
        font-weight: bold;
        text-align: left;
        cursor: pointer;
        margin-bottom: 0.5rem;
        text-shadow: 0 5px 8px rgba(0, 0, 0, 0.3); /* Sombra para destaque do logo */
    }

    /* Sub-logo com borda inferior */
    #sub-logo-page {
        font-size: 1.2rem;
        font-weight: 450;
        color: #ffffff;
        text-align: left;
        cursor: pointer;
        padding-bottom: 0.5rem;
        border-bottom: 2px solid #ffffff;
        text-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
        margin-bottom: 1rem;
    }

    /* Estilo para a linha do formulário */
    .row {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;
        padding: 5rem;
        overflow: hidden;
        border-radius: 15px;
        background: rgba(255, 255, 255, 0.9); /* Fundo translúcido */
        box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4); /* Sombra para dar profundidade */
        backdrop-filter: blur(5px); /* Efeito de desfoque no fundo */
    }

    h4 {
        font-family: "Reddit Sans Condensed", sans-serif;
        font-weight: 500;
        font-size: 1.5rem;
        color: #47476b;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border-bottom: 2px solid #ff0066;
    }

    p{
        font-family: "Reddit Sans Condensed", sans-serif;
        font-weight: 450;
        font-size: 1.3rem;
        color: #47476b;
    }
}